<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544336309960-k35tsbrlfu0kmutbbibaqvmfm3lvtqop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544336309960-k35tsbrlfu0kmutbbibaqvmfm3lvtqop</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544336309960-kp87chqrf7nirlr4k0oihmlv7d656tt6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5ka45SCErTbe1WqS9YRVjehCwLJYrx3c</string>
	<key>GCM_SENDER_ID</key>
	<string>544336309960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fly</string>
	<key>PROJECT_ID</key>
	<string>flyapp-6d4eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flyapp-6d4eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544336309960:ios:38fbe7864fdbd9e808fffd</string>
</dict>
</plist>